@import "Styles/_vars.scss";

MenuRoot {
    background-color: $bg;
    padding: 16px;
    font-family: Poppins;

    .sidebar {
        background-color: $blue;
        width: 128px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;

        .sidebar-button {
            color: $blue;
            font-size: 48px;
            padding: 24px;

            &.selected {
                color: $white;
            }

            &:hover:not(.selected) {
                color: darken($blue, 30%);
            }
        }

        .margin-top-auto {
            margin-top: auto;
        }
    }

    .navigation {
        background-color: $bg-light;
        width: 512px;
        flex-direction: column;
        flex-shrink: 0;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        align-items: center;
    }

    .channel-selector {
        margin-top: 32px;
        padding: 24px;
        background-color: $bg;
        width: 80%;
        height: 80px;
        border-radius: 12px;
        color: $text-dark;
        font-size: 24px;
    }

    .channel-container {
        margin-top: 12px;
        height: 100%;
        width: 100%;
        align-items: center;
        overflow: scroll;
        flex-direction: column;

        .channel {
            flex-direction: column;
            margin: 12px;
            padding: 16px;
            width: 80%;
            height: 128px;
            background-color: $bg-accent;
            border-radius: 12px;
            flex-shrink: 0;
            color: $white;

            &:hover {
                background-color: darken($bg-accent, 30%);
            }

            .channel-name {
                font-size: 32px;
                font-weight: bold;
            }

            .channel-meta {
                margin-top: auto;
                margin-bottom: 4px;
                font-size: 22px;
            }
        }
    }

    .content {
        height: 100%;
        margin: 16px 64px 16px 64px;

        .chat-header {
            padding: 24px;
            background-color: $bg-light;
            height: 100px;
            border-radius: 12px;
            align-items: center;
            color: $white;

            .chat-header-title {
                font-size: 48px;
            }

            .flex-end {
                margin-left: auto;
                font-size: 24px;
            }
        }
    }
}
